body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.btn {
  width: 100%;
  background-color: pink;
  border: rgb(100, 36, 202) outset 8px;
}

.noti {
  margin-top: 20px;
  border-radius: 12px;
  border: inset 8px pink;
  width: 500px;
  height: 100px;
  background-color: black;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.loading {
  font-size: 12px;
  display: none;
}
